<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/188/188918.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../home.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/singup.css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background:url(../img/bg.jpg); background-repeat:no-repeat; background-size:cover; " class="bg-poke">
<nav class="navbar">
    <ul style="position:absolute; text-align:right; right:50px; color:black; letter-spacing:2px; ">
        {{#if securityAuth}}    
            <li><a class= "esc" href="/logout">Sair</a></li>
            
        {{else}}
          <li> <a href="login">Faça o login</a></li>
        {{/if}}
    </ul>
    <div class="logo">
        <img width="290px" class="" src="../img/logo.png">
    </div>
    <div>
        <ul class="navBarMenu">
            {{#if session.userid}}
            <li class="itemMenu"><a href="/">VER POKEMONS</a></li>
            <li class="itemMenu"><a href="/addpokemon">ADICIONAR POKEMON</a></li>
            <li class="itemMenu"><a href="">EDITAR POKEMON</a></li>
            {{else}} 
            <h1 class="TituloLogin">  <img class="icon-titulo" src="https://cdn-icons-png.flaticon.com/128/528/528101.png" alt=""> ENTRE E VEJA SEUS POKEMONS!</h1>
            {{/if}}
        </ul>
    </div>
</nav>
    
    {{{body}}}
  
  <footer>
    <div class="Rodape">
        {{#if session.userid}}
        <h1 class="RodapeText">  <img class="icon-rodape" src="https://cdn-icons-png.flaticon.com/128/287/287226.png" alt=""> CREATE BY <a href="https://github.com/Lyncolnlopes"  class="link-animation">  LYNCOLN </a>AND <a href="https://github.com/PauloSBL" class="link-animation" >  PAULO!</a></h1>
        {{else}} 
        <h1>  <img class="icon-rodape" src="https://cdn-icons-png.flaticon.com/128/1408/1408992.png" alt=""> SEJA BEM-VINDO</h1>
        {{/if}}
    </div>

  </footer>
</body>

</html>