<section class="loginScreen">
    <h1 style="color:white; letter-spacing:2px; font-size:34px;">CADASTRO</h1>
    <div class="cadastroCard">
        <form action="/singup" method="POST">
            <label for="">Usuario:</label>
            <input class="inputSingup" name="usuario" type="text">
            <label for="">Senha:</label>
            <input class="inputSingup" name="senha" type="password">
            <label for="">Senha:</label>
            <input class="inputSingup" name="senhaConfirm" type="password">
            <div style="text-align: center; margin-top:20px;">
                <button>
                    <input class="submitCadastro" type="submit" value="CADASTRAR">
                </button>
            </div>
        </form>
    </div>
</section>
