<section class="loginScreen">
    <div class="cadastroCard">
        <form action="/singup" method="POST">
            <label for="">Usuario:</label>
            <input name="usuario" type="text">
            <label for="">Senha:</label>
            <input name="senha" type="text">
            <label for="">Senha:</label>
            <input name="senhaConfirm" type="text">
            <div style="text-align: center;">
                <button>
                    <input style="color:red; font-size:1.2rem; !important font-family:Roboto;" type="submit" value="CADASTRAR">
                </button>
            </div>
        </form>
    </div>
</section>
